.footer {
    background-color: #222;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    height: 100%;
    margin-top: 40%;
    position: relative;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: rgb(67, 255, 67);
}

.social_list svg{
    font-size: 4em;
    cursor: pointer;
}

.copy_right {
    margin-top: 1em;
    font-size: 20px;
}

.copy_right span {
    font-weight: bold;
}