* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
}

html,
body,
#root {
  background-color: #000000;
  height: 100%;
}

h1,h2,h3,p {
  color: rgb(255, 255, 255);
}
